 <section class="oe_container oe_dark lead">

       <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Odoo Affiliate Extension</h2>
        <h3 class="oe_slogan">You can easily manage your Affiliates</h3>
        <h4 class="text-primary oe_slogan" >
        ODOO Affiliate Extension for ODOO E-Commerce store set commission for affiliates for each visitor or customer brought by the affiliate's own marketing efforts.
        </h4>
    </div>

        <div class="oe_row">
            <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward "></i><b>This Extension Allows</b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i>
                        Real-time reporting.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Traffic Statistics.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Unlimited Affiliates.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Easy affiliate two step recruitment.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Affiliate approval and notifications.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Automatic invoicing for Traffic and Order record.</li>
                        <li><i class="fa fa-check text-primary"></i>
                        Disable Traffic record commission .
                        </li>

                        <li><i class="fa fa-check text-primary"></i>
                        Enable the unique Traffic Report on product.
                        </li>

                        <li><i class="fa fa-check text-primary"></i>
                        Set the different commission programs for Traffic and Order record . </li>

                        <li><i class="fa fa-check text-primary"></i>
                        Set the cookie expiration time for commission calculation . </li>

                        <li><i class="fa fa-check text-primary"></i>
                         Set your threshold amount in commission calculation .</li>

                        <li><i class="fa fa-check text-primary"></i>
                        Advance commission option . </li>
                        <li><i class="fa fa-check text-primary"></i>
                        Set different banner for advertisement.</li>

                        <li><i class="fa fa-check text-primary"></i>
                        Quick and Easy Installation.</li>
                        <br>
                        <li><span class="text-primary"><b> Full Admin Control</b></span>
                             <ul class="list-unstyled">
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i>
                                            <b>Confirm the affiliate request </b> manually and automaticaly</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right "></i>
                                            <b>Define/Affiliate commission program </b>  as per their preferences .</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i>
                                            <b>Generate/Banner </b> for  Advertisement</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i>
                                            <b>Define/Update welcome page </b> Banner and Title.</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i>
                                <b>Define/Update Email Text </b> sent to user for registration, welcome and cancel request.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>

    <div class="container">
      <ul class="nav nav-tabs">
        <li>
          <a href="#home">Website View</a></li>
        <li><a href="#menu1">Admin Side View</a></li>
        <li><a href="#menu2">Configuration</a></li>
      </ul>

      <div >
        <section id="home" >
          <h4 class="text-primary oe_slogan" >Website View</h4>
          <!-- <section class="oe_container oe_dark"> -->
                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Welcome page for Affiliate</b>
                                    </div>
                                    <a href="1.png">
                                        <img class="img-border img-responsive thumbnail" src="1.png">
                                    </a>
                                </div>
                            </div>
                        </div>



                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Affiliate menu after log in</b>
                                    </div>
                                    <a href="12.png">
                                        <img class="img-border img-responsive thumbnail" src="12.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Here User checks his earnings</b>
                                    </div>
                                    <a href="4.png">
                                        <img class="img-border img-responsive thumbnail" src="4.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Invoices of all paid Earnings</b>
                                    </div>
                                    <a href="5.png">
                                        <img class="img-border img-responsive thumbnail" src="5.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Tool to advertise Product</b>
                                    </div>
                                    <a href="6.png">
                                        <img class="img-border img-responsive thumbnail" src="6.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b>  Tool to generate link</b>
                                    </div>
                                    <a href="7.png">
                                        <img class="img-border img-responsive thumbnail" src="7.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b>  Tool to generate Product banner</b>
                                    </div>
                                    <a href="8.png">
                                        <img class="img-border img-responsive thumbnail" src="8.png">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Choose your Product banner</b>
                                    </div>
                                    <a href="9.png">
                                        <img class="img-border img-responsive thumbnail" src="9.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    <!-- </section> -->
        </section>
        <section id="menu1" >
          <h4 class="text-primary oe_slogan" >Admin Side View</h4>
          <!-- <h3>Admin Side View</h3> -->
          <!-- <section class="oe_container oe_dark"> -->

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="13.png">
                                        <img class="img-border img-responsive thumbnail" src="13.png">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="14.png">
                                        <img class="img-border img-responsive thumbnail" src="14.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="15.png">
                                        <img class="img-border img-responsive thumbnail" src="15.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="16.png">
                                        <img class="img-border img-responsive thumbnail" src="16.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="17.png">
                                        <img class="img-border img-responsive thumbnail" src="17.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="18.png">
                                        <img class="img-border img-responsive thumbnail" src="18.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Admin Control</b>
                                    </div>
                                    <a href="19.png">
                                        <img class="img-border img-responsive thumbnail" src="19.png">
                                    </a>
                                </div>
                            </div>
                        </div>

                         <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Sign up form page for user</b>
                                    </div>
                                    <a href="signupform.png">
                                        <img class="img-border img-responsive thumbnail" src="signupform.png">
                                    </a>
                                </div>
                            </div>
                        </div>
        </section>
        <section id="menu2" >
          <h4 class="text-primary oe_slogan" >Configuration</h4>
         <!-- <section class="oe_container oe_dark"> -->
                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Affiliate Program Settings</b>
                                    </div>
                                    <a href="20.png">
                                        <img class="img-border img-responsive thumbnail" src="20.png">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="oe_row">
                            <div class="panel panel-primary" id="wkid0">
                                <div class="panel-heading">
                                  <h3 class="panel-title"><b>Odoo Affiliate Extension</b></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info">
                                        <i class="fa fa-arrow-circle-o-right"></i><b> Website Settings</b>
                                    </div>
                                    <a href="21.png">
                                        <img class="img-border img-responsive thumbnail" src="21.png">
                                    </a>
                                </div>
                            </div>
                        </div>


          <!-- </section> -->
        </section>
      </div>
    </div>


<section class="oe_container">
      <div style="">
           <h2 class="oe_slogan" style="color:#875A7B;">Other Dependent Extension:</h2>
              <div class="oe_dark">
                      <div class="col-md-12">

		                   <div class="col-md-offset-2 col-md-4 ">
		                   <a href="https://www.odoo.com/apps/modules/10.0/affiliate_testimonial_extension/" target="new"><img class="oe_picture oe_screenshot img-rounded" src="testimonial_banner.png"></a>
		                   </div>
                          <div class="col-md-4 col-md-offset-1">
		                   <a href="https://www.odoo.com/apps/modules/10.0/affiliate_faq/" target="new"><img class="oe_picture oe_screenshot img-rounded" src="affiliate_faq_Banner.png"></a>
		                   </div>

                  		</div>



              </div>
      </div>
 </section>

 <section class="oe_container oe_dark">
     <div class='oe_row'>
         <div class="oe_span12">
             <h2 class='oe_slogan'>Complimentary Support</h2>
             <p>
             You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
             </p>
         </div>
     </div>
     <div class="oe_row oe_spaced">
         <div class="oe_span12">
             <h2 class="oe_slogan">Help and Support</h2>
         </div>
         <div class="oe_slogan oe_spaced">
             <img src="icon-help.png">
             <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Help</a></span>
             <img src="icon-support.png">
             <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Support</a></span>
             <img src="icon-features.png">
             <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://support.webkul.com/en/customer/create-ticket/">Request new Features</a></span>
         </div>
     </div>
 </section>


<section class="oe_container">
<div class="oe_span12">
<!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=AFFILIATE-MANAGEMENT&url=https://apps.openerp.com/apps/modules/11.0/affiliate_management&uid=affiliate_management" style="border:0" alt="" />
<!-- End Piwik -->
</div>
</section>
