<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">MuK Editor Extension</h2>
		<h3 class="oe_slogan">Extension for the Editor in Back- & Frontend</h3>
		<h4 class="oe_slogan" style="font-size: 23px;">MuK IT GmbH -
			www.mukit.at</h4>
		<div class="oe_demo oe_screenshot">
			<img src="demo.gif">
		</div>
	</div>
</section>

<section class="oe_container" style="padding-top: 5px;">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32 text-justify">Extends the web editor with a
				variety of new functions. In the backend editor you can now select
				fonts and insert emojis and symbols. It is also possible to set the
				editor to fullscreen mode. In both the front and back ends, you can
				now add your own colors to the existing ones using a color picker,
				as well as embed videos directly into the page. For this purpose,
				the existing Media Dialog has been extended to include a new Video
				Tab.</p>
			<div class="row" style="padding-left: 55px;">
				<div class="col-sm-4">
					<h5 style="font-size: 16px;">Options</h5>
					<p>
						<span style="color: #2B3944;">  &#9733; </span> Additional font sizes <br />
						<span style="color: #2B3944;">  &#9733; </span> Strikethrough <br />
						<span style="color: #2B3944;">  &#9733; </span> Superscript <br />
						<span style="color: #2B3944;">  &#9733; </span> Subscript <br />
						<span style="color: #2B3944;">  &#9733; </span> Text fonts <br />
					</p>
				</div>
				<div class="col-sm-4">
					<h5 style="font-size: 16px;">Editor</h5>
					<p>
						<span style="color: #2B3944;">  &#9733; </span> Seperator <br />
						<span style="color: #2B3944;">  &#9733; </span> Fullscreen <br />
					</p>
				</div>
				<div class="col-sm-4">
					<h5 style="font-size: 16px;">Addons</h5>
					<p>
						<span style="color: #2B3944;">  &#9733; </span> Emojis <br />
						<span style="color: #2B3944;">  &#9733; </span> Symbols <br />
						<span style="color: #2B3944;">  &#9733; </span> Custom color palette <br />
						<span style="color: #2B3944;">  &#9733; </span> Media Video Dialog <br />
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Editor Improvements</h3>
			<div class="col-md-6">
				<p class="text-justify">Enables the full power of your editor. A
					larger selection of text sizes, different fonts and a fullscreen
					mode.</p>
			</div>
			<div class="col-md-6">
				<img class="oe_picture oe_screenshot" src="screenshot_editor.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Video Dialog</h3>
			<div class="col-md-6">
				<img class="oe_picture oe_screenshot" src="screenshot_video.png">
			</div>
			<div class="col-md-6">
				<p class="text-justify">Insert videos directly into your HTML
					page. It is no longer necessary to upload the video to YouTube or
					the like. Like pictures, videos can now be uploaded directly to
					Odoo and selected in the Media Dialog.</p>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Color Palette</h3>
			<div class="col-md-6">
				<p class="text-justify">Thanks to a color picker, you can easily
					add your own colors to the existing palette. Up to seven colors are
					stored so that you can directly access all selected colors while
					designing your website.</p>
			</div>
			<div class="col-md-6">
				<img class="oe_picture oe_screenshot" src="screenshot_color.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Emojis and Symbols</h3>
			<div class="col-md-6">
				<img class="oe_picture oe_screenshot" src="screenshot_addons.png">
			</div>
			<div class="col-md-6">
				<p class="text-justify">Attach emojis or different symbols
					directly to your HTML page with just a few clicks.</p>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="margin-bottom: 20px;">
	<h3 class="oe_slogan" style="margin-bottom: 10px;">Demo and
		Preview</h3>
	<div class="row" style="margin: auto; max-width: 200px;">
		<div class="col-xs-6"><h5 class="oe_slogan" style="font-size: 20px; margin: 2px;">User:</h5></div>
		<div class="col-xs-6"><h5 class="oe_slogan" style="font-size: 20px; margin: 2px;">demo</h5></div>
		<div class="col-xs-6"><h5 class="oe_slogan" style="font-size: 20px; margin: 2px;">Password:</h5></div>
		<div class="col-xs-6"><h5 class="oe_slogan" style="font-size: 20px; margin: 2px;">demo</h5></div>
	</div>
	<div class="oe_slogan" style="margin-top: 5px;">
		<a class="btn btn-primary btn-lg mt8"
			href="https://demo.mukit.at"> <i
			class="fa fa-video-camera"></i> Live Preview
		</a>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<h5 class="oe_slogan" style="font-size: 20px;">You will get 30
		Days free support incase of any bugs or issues (Except data recovery).</h5>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="mailto:sale@mukit.at">
			<i class="fa fa-envelope"></i> Email
		</a> <a class="btn btn-primary btn-lg mt8"
			href="https://mukit.at/page/contactus"> <i class="fa fa-phone"></i>
			Contact
		</a> <a class="btn btn-primary btn-lg mt8" href="mailto:support@mukit.at">
			<i class="fa fa-life-ring"></i> Support
		</a>
	</div>
	<img src="logo.png" style="width: 200px; margin-bottom: 20px;"
		class="center-block">
</section>