/**********************************************************************************
* 
*   Copyright (C) 2018 MuK IT GmbH
*    		
*   Odoo Proprietary License v1.0
*   This software and associated files (the "Software") may only be used 
*	(executed, modified, executed after modifications) if you have
*	purchased a valid license from the authors, typically via Odoo Apps,
*	or if you have received a written agreement from the authors of the
*	Software (see the COPYRIGHT file).
*	
*	You may develop Odoo modules that use the Software as a library 
*	(typically by depending on it, importing it and using its resources),
*	but without copying any source code or material from the Software.
*	You may distribute those modules under the license of your choice,
*	provided that this license is compatible with the terms of the Odoo
*	Proprietary License (For example: LGPL, MIT, or proprietary licenses
*	similar to this one).
*	
*	It is forbidden to publish, distribute, sublicense, or sell copies of
*	the Software or modified copies of the Software.
*	
*	The above copyright notice and this permission notice must be included
*	in all copies or substantial portions of the Software.
*	
*	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
*	OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
*	THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
*	FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
*	DEALINGS IN THE SOFTWARE.
*
**********************************************************************************/

.note-toolbar.panel-heading {
	 .muk_colorpicker_replacer {
		position: relative;
	    width: 0;
	    height: 0;
	    padding: 0;
	    top: 25px;
	    right: 30px;
	    z-index: -99;
	    border: none;
	}
	
	div.note-fontsize.btn-group .dropdown-menu {	
		max-height: 200px;
		overflow: auto;
	}
	
	div.note-fontname .btn-group .dropdown-menu {	
		max-height: 200px;
		overflow: auto;
	}
}

.note-popover .popover-content .muk_colorpicker_replacer {
	position: relative;
    width: 0;
    height: 0;
    padding: 0;
    z-index: -99;
    border: none;
}

.editor_enable.editor_has_snippets {
	
	.note-air-popover {	
		div.note-fontsize.btn-group .dropdown-menu {
			max-height: 300px;
	    	overflow: auto;
	    	
	    	&::-webkit-scrollbar {
			    width: 7px;
			}
			
			&::-webkit-scrollbar-track {
			    background: #b7b8ba; 
			}
			
			&::-webkit-scrollbar-thumb {
			    background: #919196; 
			}
			
			&::-webkit-scrollbar-thumb:hover {
			    background: #302f39; 
			}
		}
	}
		
	.muk_colorpicker_palette {
	    position: fixed ! important;
	    top: 35px ! important;
	    left: 300px ! important;
	    background-color: #302F39;
    	border-color: #302F39;
	
		.sp-input {
			color: #B7B8BA;
		}

		.sp-cancel {
		    color: #B7B8BA !important;
		}
		
		.sp-choose {
			line-height: 0.8;
		}
		
		.sp-palette-row-initial {
			border: solid 1px #B7B8BA;
		}
	}
}

#specialCharTable {
    max-height: 600px;
    overflow: auto;
    
    &::-webkit-scrollbar {
	    width: 7px;
	}
	
	&::-webkit-scrollbar-track {
	    background: #b7b8ba; 
	}
	
	&::-webkit-scrollbar-thumb {
	    background: #919196; 
	}
	
	&::-webkit-scrollbar-thumb:hover {
	    background: #302f39; 
	}
}